@(title:String, id: String)

@extraHead = {
        <script src="@routes.Assets.at("javascripts/score-reader.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/MIDI.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/Base64.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/base64binary.js")" type="text/javascript"></script>
}

@main("Piano sin barreras", extraHead) {

<h1>@{title}</h1>

<h2>Partitura</h2>
<div id="content" aria-live="polite">
<input type="text" id="commands"/>
<h3>Compas</h3>
<div id="measure">Cargando...</div>
<h3>Mano</h3>
<div id="staff">Cargando...</div>
<h3>Nota</h3>
<div id="note">Cargando...</div>
</div>

<h3>Ayuda</h3>
<dl class="dl-horizontal">
  <dt>Tecla derecha</dt>
  <dd>Siguiente nota</dd>

  <dt>Tecla izquierda</dt>
  <dd>Anterior nota</dd>

  <dt>Tecla abajo</dt>
  <dd>Siguiente mano / siguiente compás</dd>

  <dt>Tecla arriba</dt>
  <dd>Anterior mano / anterior compás</dd>

  <dt>Tecla I / Tecla Inicio</dt>
  <dd>Ir al inicio de la partitura</dd>

  <dt>Tecla Espacio</dt>
  <dd>Reproducir nota actual</dd>

</dl>
<script>

	$(function() {
		
		MIDI.loadPlugin({
			soundfontUrl: "@routes.Assets.at("soundfont/")",
			instrument: "acoustic_grand_piano",
			callback: function() {}
		});

		jsRoutes.controllers.Scores.get("@id").ajax({
			success: function(result) {
				$("#content").scoreReader({score: result});
			}
		});
	});

</script>
    
}
